version: '2.1'

services:
  
  # ------------------------------------------------------------------------------------
  # BalenaLabs WiFi-Connect
  # ------------------------------------------------------------------------------------
  wifi-connect:
    image: bh.cr/balenalabs/wifi-connect-rpi
    container_name: wifi-connect
    network_mode: host
    labels:
        io.balena.features.dbus: '1'
        io.balena.features.firmware: '1'
    cap_add:
        - NET_ADMIN
    environment:
        DBUS_SYSTEM_BUS_ADDRESS: "unix:path=/host/run/dbus/system_bus_socket"
  
  
  # ------------------------------------------------------------------------------------
  # MQTT
  # ------------------------------------------------------------------------------------
  mqtt:
    image: eclipse-mosquitto:1.6.15
    container_name: mqtt
    ports:
      - "1883:1883"
    restart: always
    
  
  
  # ------------------------------------------------------------------------------------
  # Influxdb
  # ------------------------------------------------------------------------------------
  influxdb:
    image: influxdb:1.7.11
    #image: influxdb:latest
    container_name: influxdb
    restart: unless-stopped
    ports:
        - '8086'
    volumes:
        - influxdb-data:/var/lib/influxdb
        - influxdb-etc:/etc/influxdb


  # ------------------------------------------------------------------------------------
  # Node-RED
  # ------------------------------------------------------------------------------------
  node-red:
    build: ./node-red 
    privileged: true
    network_mode: host
    restart: unless-stopped
    volumes:
        - 'node-red-data:/data'
    labels:
        io.balena.features.dbus: '1'
        io.balena.features.sysfs: '1'
        io.balena.features.supervisor-api: '1'
        io.balena.features.balena-api: '1'
        io.balena.features.balena-socket: '1'
        io.balena.features.kernel-modules: '1'
        io.balena.features.firmware: '1'
    ports:
        - 80:80
    environment:
        - PORT=80
        - USERNAME="balena"
        - PASSWORD="balena"
        - ENCRIPTION_KEY="balena"
    cap_add:
        - SYS_RAWIO
    devices:
        - "/dev/mem:/dev/mem"
        - "/dev/gpiomem:/dev/gpiomem"
        - "/dev/i2c-1:/dev/i2c-1"
        - "/dev/ttyUSB0:/dev/ttyUSB0"
        - "/dev/ttySC0:/dev/ttySC0"
        - "/dev/ttySC1:/dev/ttySC1"
        - "/dev/ttySC2:/dev/ttySC2"
        - "/dev/ttySC3:/dev/ttySC3"

  # ------------------------------------------------------------------------------------
  # Grafana
  # ------------------------------------------------------------------------------------
  grafana:
    image: grafana/grafana
    restart: unless-stopped
    network_mode: host
    ports:
      - '3000:3000'
    volumes:
        - "grafana-data:/data"

  
volumes:
  hivemq_data:
  hivemq_log:
  hivemq_license:
  node-red-data:
  grafana-data:
  influxdb-data:
  influxdb-etc:

